h2
{
    font-family: 'Inria Sans', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
}

h4
{
    font-family: 'Inria Sans', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Martel Sans', sans-serif;
}

img
{
    border-radius: 15px;
}